@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #08d3ee;
    color: whitesmoke;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #08d3ee;
}

.container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container .box {
    width: calc(33% - 10px);
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
}

.box .quote i {
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb
}

.container .box .image {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #08d3ee;
    padding: 3px;
    border-radius: 50%;
}

.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid whitesmoke;
}

.box p {
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.box .name_job {
    margin: 10px 0 3px 0;
    color: #08d3ee;
    font-size: 18px;
    font-weight: 600;
}

.rating i {
    font-size: 18px;
    color: #08d3ee;
    margin-bottom: 5px;
}

.btns {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns button {
    background: #08d3ee;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid #08d3ee;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #08d3ee;
    transition: all 0.3s linear;
}

.btns button:first-child {
    background: none;
    margin-right: 5px;
}

.btns button:last-child {
    color: whitesmoke;
    margin-left: 5px;
}

.btns button:first-child:hover {
    background: #08d3ee;
    color: whitesmoke;
}

.btns button:hover {
    color: whitesmoke;
}

@media (max-width:1045px) {
    .container .box {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width:710px) {
    .container .box {
        width: 100%;
    }
}